# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.test-sol.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Prog Proj\test-sol\.idea\.idea.test-sol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
